<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="categories.length>0 && !isLoading">
  <mat-card *ngFor="let category of categories">
    
        {{ category.label }}
      
    <mat-action-row>
      <a mat-button [routerLink]="['/category', category.label]">
        <mat-icon aria-label="View details icon">
            visibility
        </mat-icon>
      </a>
      <a mat-button [routerLink]="['/edit/category', category._id]">
        <mat-icon aria-label="Edit icon">
            border_color
        </mat-icon>
      </a>
      <button mat-button color="accent" (click)="onDeleteCategory(category._id)">
          <mat-icon aria-label="Delete icon">
            delete_forever
          </mat-icon>
      </button>
    </mat-action-row>

  </mat-card>
</div>
<p class="info-text mat-body-1" *ngIf='categories.length<= 0 && !isLoading'>Aucune catégorie enregistrée pour le moment</p>